@font-face {
  font-family: "monaco";
  src:url("../fonts/monaco.eot");
  src:url("../fonts/monaco.eot?#iefix") format("embedded-opentype"),
    url("../fonts/monaco.woff") format("woff"),
    url("../fonts/monaco.ttf") format("truetype"),
    url("../fonts/monaco.svg#monaco") format("svg");
  font-weight: normal;
  font-style: normal;

}
