	<footer id="footer">
		<div class="footer-top">
			<div class="wrapper">
				<div class="footer-top-item footer-navig">
					<h4>Navigation</h4>
					<ul>
						<li><a href="#">Watches for sale</a></li>
						<li><a href="#">Sell your watches</a></li>
						<li><a href="#">Order</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="footer-top-item footer-contact">
					<h4>Contacts</h4>
					<div class="phone footer-contact-item">
						<div class="phone-item">
							<p>Landline</p>
							<strong>+377 97 97 08 42</strong>
						</div>
						<div class="phone-item">
							<p>Mobile</p>
							<strong>+377 97 97 08 42</strong>
						</div>
					</div>
					<div class="map-pin footer-contact-item">
						<p class="one-p">36, Boulevard des Moulins, 98000 Monaco</p>
					</div>
				</div>
				<div class="footer-top-item footer-info">
					<h4>Information</h4>
					<div class="clock footer-contact-item">
						<strong>Working hourse:</strong>
						<p>Monday — Friday   10:00 – 13:00 и 15:00 – 19:00 </p>
					</div>
					<div class="info footer-contact-item">
						<p class="one-p">We work on Saturday on appointment only</p>
					</div>
					
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<p>©2016 Monaco Wach Company</p>
				<span>Development by <a href="#">OneHub</a></span>
			</div>
		</div>
	</footer>
</div>
</body>
</html>